body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 562.5%;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
  letter-spacing: 2.5px;


}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

p{
  color: #40514E;
  line-height: 3;
}
a{
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin:30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 10% auto;
  text-align: left;


}
.skills{
  margin: 80px auto;

}
.profile{
  padding: 50px 20% 50px 20%;
  line-height: 2;
}
.profile-img{
  border-radius: 50%;

}

hr{
  width: 10%;
  border: 10px dotted;
  border-style: none none dotted;
  color:#EAF6F6;

}



.footer-link{
    color:  #11999E;
}


.top-container {
  background-color: #CDF0EA;
  margin: 0;
  position: relative;
  padding-top: 100px;
}




.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.middle-container{
  padding: 100px 0;
}
.coding-img{
  width: 25%;
  float: right;
  margin-left: 30px;
  position: relative;
  bottom:25px;

}
.skills-img{
  width:25%;
  float: left;
  margin-right: 30px;
}

.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: normal;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  height: 200px;
  background-color: #66BFBF;
  padding-top:50px;

}

.contact-content{
  margin-bottom: 50px;
  line-height: 2;
}
.copyright{
  color: #EAF6F6;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}
.contact-me{
  margin-top:100px;
}
